# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Maven
target/
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Gradle
.gradle
**/build/
!src/**/build/

# Java
*.class
*.log
*.ctxt
.mtj.tmp/
*.jar

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Halo
halo-next/
!**/src/main/**/target/
!**/src/test/**/target/

# Mac
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini 